CompileFlags:
  Add:
    - -std=c++23
    - -ferror-limit=0
    # Warnings: enable all, treat as errors (including deprecated)
    - -Wall
    - -Werror
    - -Weverything
    - -Werror=deprecated
    - -Wpedantic
    # C++23 project: ignore C++98 compatibility (included in -Weverything)
    - -Wno-c++98-compat
    - -Wno-c++98-compat-pedantic
    - -Wno-switch-default
    